<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link rel="icon" href="image/网站图标.jpg">

    <title>项目主页-TeamWorking</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href="/css/button.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/主页.css" type="text/css" rel="stylesheet"/>
    <link href="/css/项目主页.css" type="text/css" rel="stylesheet"/>

    <script src=""></script>

</head>
<body style="background-color:rgb(232,232,232)">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">  <img alt="Brand" src="/image/网站图标.jpg"></a>
            <p class="navbar-text">TeamWorking</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="get" action="/mainpage">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="在个人项目中搜索" name="project">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/persionmanage">账号设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/signout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-inverse bar2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="/mainpage"> <h4 class="hh4"> 首页 </h4> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <h4 class="hh4"> > </h4>
                </li>
                <li>
                    <h4 class="hh4"><%= projectname%></h4>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left mainbar">
                <li class="interv"><a href="/projectpage/<%= projectid%>">任务 </a></li>
                <li class="interv"><a href="/projectpage/<%= projectid%>/file/000000000000000000000000">文件</a></li>
                <li class="interv"><a href="/projectpage/<%= projectid%>/schedule">日程</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>组员</a>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1" style="width:300px;height:500px;">
                        <div style="float:right; padding-top:0px;margin-top:0px;margin-right:10px;">
                            <button type="button" class="close" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <li style="text-align:center;vertical-align:middle;"><strong>项目成员</strong><a href="#"><span></span></a></li>
                        <li role="separator" class="divider"></li>
                        <li style="margin-left:5px;margin-right:5px;">
                            <label for="inputText" class="sr-only">搜索成员，或根据用户名直接搜索</label>
                            <input type="text" id="use-name" class="form-control" placeholder="搜索成员，或根据用户名直接搜索" required autofocus >
                        </li>
                        <li style="height:40px;padding-top:5px;"><a href="/projectpage/<%= projectid%>/addmember"><img src="/image/PlusMember.jpg" alt="邀请新成员" style="margin-right:0px;" />邀请新成员</a></li>
                        <% users.forEach(function (user) { %>
                        <li style="height: 40px; padding-top: 15px;margin-top:10px;">
                            <a href="#">
                                <div class="col-xs-3" style="margin-left:0px;padding-left:0px;"><img class="img3" src="/image/avatar/<%= user.use_img%>" alt="成员" /></div>
                                <div class="col-xs-8" style="height:40px;  vertical-align:middle;padding-top:10px;padding-left:0px;"><label for=" user_id" style="vertical-align: middle;"><%= user.use_name%></label></div>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
    function  create() {
        x=document.getElementById('create');
        x.hidden=false;
    }
    function upload() {
        x=document.getElementById('upload');
        x.hidden=false;
    }
</script>
<div class="container" style="background-color:white;width:1000px;height:450px;margin-top:20px">

    <div class="container" style="height:30px;margin-top:30px">

        <div class="col-lg-2"style="margin-top: 15px">
            <span style="font-size:22px;color:black">文件库</span>
        </div>
        <div class="col-lg-5">

        </div>
        <div class="col-lg-1">
            <div style="margin-top:5px;margin-left:10px">
                <button type="button" class="btn btn-default btn-sm" style="color: CornflowerBlue" onclick="create()">
                        <span class=" glyphicon glyphicon-plus" aria-hidden="false">
                        </span>
                </button>
            </div>
            <div style="margin-top: 5px"> <span style="color: CornflowerBlue; font-size: 10px" >创建文件夹</span> </div>
        </div>
        <div class="col-lg-1">
            <div style="margin-top:5px;margin-left:5px">
                <button type="button" class="btn btn-default btn-sm" style="color: CornflowerBlue" onclick="upload()">
                        <span class=" glyphicon glyphicon-circle-arrow-up" aria-hidden="false">
                        </span>
                </button>
            </div>
            <div style="margin-top: 5px;margin-left:8px"> <span style="color: CornflowerBlue; font-size: 10px">上传</span> </div>
        </div>
        <div class="col-lg-1">
            <div style="margin-top:5px">
                <button type="button" class="btn btn-default btn-sm" style="color: CornflowerBlue" >
                        <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="false">
                        </span>
                </button>
            </div>
            <div style="margin-top: 5px;margin-left:3px"> <span style="color: CornflowerBlue; font-size: 10px">下载</span> </div>
        </div>
    </div>
    <div class="container" style="margin-top:30px" >
        <table class="table table-hover" style="margin-top: 30px;width:900px">
            <thead>
            <tr>
                <th style="color: gray ">名称</th>
                <th style="color: gray">大小</th>
                <th style="color: gray" >创建者</th>
            </tr>
            </thead>
            <tbody id="file">
            <%files.forEach(function(file){%>
            <tr>
                <!--<td><button type="button" class="btn btn-default btn-sm">-->
                        <!--<span class="glyphicon glyphicon-unchecked" aria-hidden="false">-->
                        <!--</span>-->
                    <!--</button>-->
                <!--</td>-->
                <td>
                    <a href="/projectpage/<%= projectid%>/file/<%= file._id%>">
                    <%= file.fil_name%>
                    </a>
                </td>
                <td>-</td>
                <td><%= file.fil_leader%></td>
            </tr>
            <%})%>
            </tbody>
            <form method="post">
            <tbody>
            <tr id="create" hidden="true">
                <td> <input name="filename" required autofocus/></td>
                <td><button type="submit">确定</button></td>
                <td> <input name="category" value="create" hidden="hidden"/></td>
            </tr>
            </tbody>
            </form>
            <form method="post" enctype='multipart/form-data'>
                <tbody>
                <tr id="upload" hidden="true">
                    <td> <input name="resource" type="file" required /></td>
                    <td><button type="submit">确定</button></td>
                    <td> <input name="category" value="upload" hidden="hidden"/></td>
                </tr>
                </tbody>
            </form>
        </table>
    </div>
</div>
</body>
</html>