<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link rel="icon" href="/image/网站图标.jpg">

    <title>项目主页-TeamWorking</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href="/css/button.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="/css/task-detail.css" type="text/css" rel="stylesheet"/>
    <!--<link href="/css/主页.css" type="text/css" rel="stylesheet"/>-->
    <link href="/css/项目主页.css" type="text/css" rel="stylesheet"/>

    <script src=""></script>

</head>
<body onload="enter()">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">  <img alt="Brand" src="/image/网站图标.jpg"></a>
            <p class="navbar-text">TeamWorking</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="get" action="/mainpage">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="在个人项目中搜索" name="project">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">论坛</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="../persionmanage">账号设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../signout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-inverse bar2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="../mainpage"> <h4 class="hh4"> 首页 </h4> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <h4 class="hh4"> > </h4>
                </li>
                <li>
                    <h4 class="hh4"><%= projectname%></h4>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left mainbar">
                <li class="interv"><a href="/projectpage/<%= projectid%>">任务 </a></li>
                <li class="interv"><a href="/projectpage/<%= projectid%>/file/000000000000000000000000">文件</a></li>
                <li class="interv"><a href="/projectpage/<%= projectid%>/schedule">日程</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>组员</a>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1" style="width:300px;height:500px;">
                        <div style="float:right; padding-top:0px;margin-top:0px;margin-right:10px;">
                            <button type="button" class="close" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <li style="text-align:center;vertical-align:middle;"><strong>项目成员</strong><a href="#"><span></span></a></li>
                        <li role="separator" class="divider"></li>
                        <!--<li style="margin-left:5px;margin-right:5px;">-->
                            <!--<label for="inputText" class="sr-only">搜索成员，或根据用户名直接搜索</label>-->
                            <!--<input type="text" id="use-name" class="form-control" placeholder="搜索成员，或根据用户名直接搜索" required autofocus >-->
                        <!--</li>-->
                        <li style="height:40px;padding-top:5px;"><a href="/projectpage/<%= projectid%>/addmember"><img src="/image/PlusMember.jpg" alt="邀请新成员" style="margin-right:0px;" />邀请新成员</a></li>
                  <% results.forEach(function (result) { %>
                <li style="height: 40px; padding-top: 15px;margin-top:10px;">
                    <a href="#">
                        <div class="col-xs-3" style="margin-left:0px;padding-left:0px;"><img class="img3" src="/image/avatar/<%= result.use_img%>" alt="成员" /></div>
                        <div class="col-xs-8" style="height:40px;  vertical-align:middle;padding-top:10px;padding-left:0px;"><label for=" user_id" style="vertical-align: middle;"><%= result.use_name%></label></div>
                    </a>
                </li>
                <% }) %>
                    </ul>
                </li>

            </ul><!-- 成员  -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
    var joins=[];
    function enter() {
        var mem={
            username:'<%= leader.use_name%>',
            avatar:'<%= leader.use_img%>'
        }
        joins.push(mem);
    }
    function alterPriorty(pro){
        x=document.getElementById("priority");
        z=document.getElementById("pri_text");
        y=document.getElementById(pro);
        x.src=y.src;
        z.innerHTML=y.alt;
        document.getElementById("pri_text_input").value=y.alt;
    }
    function alterPriorty1(pro){
        x=document.getElementById("not_start_task_priority_img");
        z=document.getElementById("not_start_task_priority");
        y=document.getElementById(pro);
        x.src=y.src;
        z.innerHTML=y.alt;
        document.getElementById("not_start_task_priority_input").value=y.alt;
    }
    function add(name) {
        x=document.getElementById("img"+name);
        var y= x.src.toString().split('/');
        var mem={
            username:name,
            avatar:y[5]
        };
        for(i in joins){
            if(joins[i].username==name)
                return ;
        }
        joins.push(mem);
        x=document.getElementById("join_members");
        var html='';
        for(i in joins){
            html+='<div class="col-md-1">'+' <img class="img3" src="/image/avatar/'+joins[i].avatar+'" alt="成员" />'+'</div>';
            html+='<input type="text" name="name" hidden="true" value="'+joins[i].username+'"/>';
        }
        x.innerHTML=html;
    }
    function not_start_task(state,taskid,name,leader,end,note,priority,leader_ava,avatars){
      var avas=avatars.split(',');
      document.getElementById("not_start_task_state").innerHTML=state;
        document.getElementById("not_start_task_state_input").value=state;
       document.getElementById("not_start_task_id").value=taskid;
        document.getElementById("not_start_task_name").value=name;
        document.getElementById("not_start_task_leader").innerHTML=leader;
        document.getElementById("not_start_task_end_date").value=end;
        document.getElementById("not_start_task_note").innerHTML=note;
        document.getElementById("not_start_task_priority").innerHTML=priority;
        document.getElementById("not_start_task_leader_img").src="/image/avatar/"+leader_ava;
        if(priority=='普通'){
            document.getElementById("not_start_task_priority_img").src="/image/普通.png";
        }
        else if(priority=='紧急'){
            document.getElementById("not_start_task_priority_img").src="/image/紧急.png";
        }
        else{
            document.getElementById("not_start_task_priority_img").src="/image/非常紧急.png";
        }
        x=document.getElementById('not_start_task_join_users');
        var html='';
        for(i in avas){
            html+='<div class="col-md-1">'+' <img class="img3" src="/image/avatar/'+avas[i]+'" alt="成员" />'+'</div>';
        }
        x.innerHTML=html;
    }
    function alter(state) {
        document.getElementById("next").value=state;
    }
    function alter_state(state) {
        document.getElementById("not_start_task_state").innerHTML=state;
        document.getElementById("not_start_task_state_input").value=state;
    }
</script>
<div class="container-fluid">
    <div class="row mainback">
        <div class="col-md-1">
            <div class="threelan">
                <div class="row">
                    <div class="col-md-9"><h4 class="hhh4">待处理</h4></div>
                    <!--<div class="col-md-3 deletebtn"><button class="button button-circle button-small"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button></div>-->
                </div>
                <%for(i in tasks){%>
                <div class="btnpro">
                    <a onclick="not_start_task('待处理','<%= tasks[i]._id%>','<%=tasks[i].tas_name%>','<%=tasks[i].tas_leader%>','<%=tasks[i].tas_end%>','<%= tasks[i].tas_text%>','<%= tasks[i].tas_priority%>','<%= avatars[tasks[i].tas_leader]%>','<%= tasks[i].join_users_avatar%>')"
                       class="button buttonn button-action button-rounded"  type="button" data-toggle="modal" data-target="#exampleModal"><%=tasks[i].tas_name%></a>
                </div>
                <%}%>
                <div class="btnpro"><a href="#" class="button buttonn button-rounded button-tiny md-trigger" data-modal="modal-1"  type="button"data-toggle="modal" data-target="#exampleModal2">添加任务</a></div>
            </div>
        </div>
        <% states.forEach(function(state){%>
        <div class="col-md-1">
            <div class="threelan">
                <div class="row">
                    <div class="col-md-9"><h4 class="hhh4"><%= state.tas_state%></h4></div>
                    <form method="post">
                        <input name="next" value="del_state" hidden="true">
                        <input name="del_state_name" value='<%= state.tas_state%>'hidden="hidden">
                    <div class="col-md-3 deletebtn">
                        <button class="button button-circle button-small" type="submit">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true">
                            </span>
                        </button>
                    </div>
                    </form>
                </div>
                <%for(i in state['tasks']){%>
                <div class="btnpro">
                     <a onclick="not_start_task('<%=state['tasks'][i].tas_state%>','<%= state['tasks'][i]._id%>','<%=state['tasks'][i].tas_name%>','<%=state['tasks'][i].tas_leader%>','<%=state['tasks'][i].tas_end%>','<%= state['tasks'][i].tas_text%>','<%=state['tasks'][i].tas_priority%>','<%= avatars[state['tasks'][i].tas_leader]%>','<%= state['tasks'][i].join_users_avatar%>')"
                       class="button buttonn button-highlight button-rounded" type="button"  data-toggle="modal" data-target="#exampleModal">
                         <%= state['tasks'][i]['tas_name']%>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <%})%>
        <form method="post">
        <div class="col-md-1">
            <div class="tianjiatask">
                <input type="text" name="statename" class="form-control input" color="#111111" placeholder="新建任务列表..." aria-describedby="basic-addon1" required>
                <input name="next" value="add_state" hidden="hidden">
                <button type="submit" class="btn btn-primary baocun">保存</button>
            </div>
        </div>
        </form>
    </div>
</div>
</div><!--container-->
<!-- 任务弹出框 modal-->
<form method="post" >
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="headbox">
                        <div class="row row1">
                            <div class="col-md-2"><p class="pp">任务列表 </p></div>
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <div class="drop7" style="">
                                        <a  class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><label id="not_start_task_state"></label></a>
                                        <input hidden="hidden" value="" id="not_start_task_state_input" name="state">
                                    </div>
                                    <ul class="dropdown-menu drop8" aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a onclick="alter_state('待处理')">
                                                <div class="img2"><label for=" user_id">待处理</label></div>
                                            </a>
                                            <%states.forEach(function(state){%>
                                            <a onclick="alter_state('<%=state.tas_state %>')">
                                                <div class="img2"><label for=" user_id"><%= state.tas_state%></label></div>
                                            </a>
                                            <%})%>
                                        </li>
                                    </ul>
                                </div><!--dropdpwn-->
                            </div>
                        </div>
                        <input type="text" id="not_start_task_name" name="title" class="form-control form-control1" color="#111111" placeholder="任务名称" aria-describedby="basic-addon1" value="任务1">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="line1">
                            <div class="col-md-4">
                                <div class="l1">
                                    <p class="pp2">执行者</p>
                                    <div class="dropdown">
                                        <div class="drop1" style="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><img class="img1" id="not_start_task_leader_img" src="/image/avatar/default.jpg" alt="组员用户名"><label id="not_start_task_leader">执行者</label></a>
                                        </div>
                                    </div><!--dropdpwn-->
                                </div><!--l1-->
                            </div>
                            <div class="col-md-4">
                                <div class="l1">
                                    <p class="pp2">截止时间</p>
                                    <div class="form-group form-group1">
                                        <div class="input-append date form_datetime">
                                    <input size="16" id="not_start_task_end_date"  name="end_date" placeholder="点击设置" type="text" value="2017-07-07 11:11" >
                                    <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                        <script type="text/javascript">
                                            $(".form_datetime").datetimepicker({
                                                format: "dd MM yyyy - hh:ii"
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="l1">
                                    <p class="pp2">优先级</p>
                                    <div class="dropdown">
                                        <div class="drop3" style="">
                                            <a class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><img class="img1" src="/image/普通.png" id="not_start_task_priority_img"><label id="not_start_task_priority">普通</label></a>
                                            <input hidden="true" id="not_start_task_priority_input" name="priority" value="普通"/>
                                        </div>
                                        <ul class="dropdown-menu drop4" aria-labelledby="dropdownMenu1">
                                            <li>
                                                <a onclick="alterPriorty1('ordinary')" >
                                                    <div class="img2" ><img class="img1" src="/image/普通.png" alt="普通"  id="ordinary"/><label for="prior" id="ordinarytext">普通</label></div>
                                                </a>
                                                <a onclick="alterPriorty1('urgent')" >
                                                    <div class="img2"><img class="img1" src="/image/紧急.png" alt="紧急" id="urgent"/><label for="prior" id="urgenttext">紧急</label></div>
                                                </a>
                                                <a onclick="alterPriorty1('vary_urgent')" >
                                                    <div class="img2"><img class="img1" src="/image/非常紧急.png" alt="非常紧急" id="vary_urgent"/><label for="prior" id="vary_urgenttext">非常紧急</label></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!--dropdpwn-->
                                </div>
                            </div>
                        </div>
                    </div><!--row-->
                        <div class="form-group">
                            <label for="message-text" class="control-label">添加备注:</label>
                            <textarea class="form-control" id="not_start_task_note" name="note">111111</textarea>
                        </div>
                    <div class="addzuyuan">
                        <p class="pp3">参与者</p>
                        <div class="row rrow">
                            <div id="not_start_task_join_users">
                            </div>
                        </div><!--row-->
                    </div>
                </div>
                <input hidden="true" value="" name="next" id="next"/>
                <input hidden="true" value="" name="taskid" id="not_start_task_id"/>
                <div class="modal-footer">
                    <button type="submit" onclick="alter('conserve')" class="btn btn-primary">保存</button>
                    <button type="submit" onclick="alter('delete')" class="btn btn-primary">删除该任务</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- 任务弹出框 modal2 和前面的弹出框相同，只是最后一个button是添加任务-->
<form method="post">
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="headbox">
                        <p class="pp">任务列表</p>
                        <input type="text" class="form-control form-control1" color="#111111" placeholder="任务名称" name="title" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="line1">
                            <div class="col-md-4">
                                <div class="l1">
                                    <p class="pp2">执行者</p>
                                    <div class="dropdown">
                                        <div class="drop1" style="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><img class="img1" src="/image/avatar/<%= leader.use_img%>" alt="组员用户名"><%= leader.use_name%></a>
                                        </div>
                                    </div><!--dropdpwn-->
                                </div><!--l1-->
                            </div>
                            <div class="col-md-4">
                                <div class="l1">
                                    <p class="pp2">截止时间</p>
                                    <div class="form-group form-group1">
                                        <div class="input-append date form_datetime">
                                            <input size="16" placeholder="点击设置" type="text" value="" name="end_date" required readonly>
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>

                                        <script type="text/javascript">
                                            $(".form_datetime").datetimepicker({
                                                format: "dd MM yyyy - hh:ii"
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!--添加任务-->
                            </div>
                            <div class="col-md-4">
                                <div class="l1">
                                    <p class="pp2">优先级</p>
                                    <div class="dropdown">
                                        <div class="drop3" style="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><img class="img1" src="/image/普通.png" alt="普通" id="priority"><label id="pri_text" >普通</label></a>
                                            <input hidden="true" name="pri_text_input" id="pri_text_input" value="普通"/>
                                        </div>
                                        <ul class="dropdown-menu drop4" aria-labelledby="dropdownMenu1">
                                            <li>
                                                <a onclick="alterPriorty('ordinary')" >
                                                    <div class="img2" ><img class="img1" src="/image/普通.png" alt="普通"  id="ordinary"/><label for="prior" id="ordinarytext">普通</label></div>
                                                </a>
                                                <a onclick="alterPriorty('urgent')" >
                                                    <div class="img2"><img class="img1" src="/image/紧急.png" alt="紧急" id="urgent"/><label for="prior" id="urgenttext">紧急</label></div>
                                                </a>
                                                <a onclick="alterPriorty('vary_urgent')" >
                                                    <div class="img2"><img class="img1" src="/image/非常紧急.png" alt="非常紧急" id="vary_urgent"/><label for="prior" id="vary_urgenttext">非常紧急</label></div>
                                                </a>
                                            </li>
                                        </ul>

                                    </div><!--dropdpwn-->
                                </div>
                            </div>
                        </div>
                    </div><!--row-->
                    <div class="form-group">
                        <label for="message-text" class="control-label">添加备注:</label>
                        <textarea class="form-control" id="message-text" name="note" required></textarea>
                    </div>
                    <div class="addzuyuan">
                        <p class="pp3">参与者</p>
                        <div class="row rrow">
                            <div class="col-md-1">
                                <div class="dropdown">
                                    <div class="drop5" style="">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><img class="img3" src="/image/PlusMember.jpg" alt="添加组员"></a>
                                    </div>
                                    <ul class="dropdown-menu drop6" aria-labelledby="dropdownMenu1">
                                        <%results.forEach(function(result){%>
                                        <li>
                                            <a href="#">
                                                <div class="img2"><img class="img1" id="img<%= result.use_name%>" src="/image/avatar/<%= result.use_img%>" alt="成员" /><label class="use-id" for=" user_id"><%=result.use_name%></label><button class="button zuyuanbtn button-circle button-small" type="button" onclick="add('<%= result.use_name%>')">
                                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                                                </div>
                                            </a>
                                        </li>
                                        <%})%>
                                    </ul>
                                </div><!--dropdpwn-->
                            </div>
                            <div  id="join_members">
                                <div class="col-md-1">
                                    <img class="img3" src="/image/avatar/<%= leader.use_img%>" alt="成员" />
                                </div>
                            </div>
                        </div><!--row-->
                    </div>
                </div>
                <input hidden="true" value="add_task" name="next"/>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">添加任务</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
</body>

</html>
